svg {
  -webkit-mask-image: url(space.jpg);
  mask-image: url('space.jpg');
  margin: 5px;
}

.board {
  width: 750px;
  height: 600px;
  z-index: -1;
}

#asteroid {
  background-image: 'asteroid.png';
}