svg {
  background-color: lightgray;
  width: 90%;
  height: auto;
  margin: 5px;
}

svg.enemies {
  background-image: url("asteroid.png");
}

.circles {
  background-image: url("asteroid.png");
  width: 10px;
  height: 10px;
}

.player {
  
}